<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Paylite HR beta</string>
	<key>CFBundleIdentifier</key>
	<string>com.citytech.paylitehrmsnewversion</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Paylite HR</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera to capture leave and expense claim photo.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Program requires GPS to track employee self attendance location track near his office area.Please allow your current location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Program requires GPS to track employee self attendance location track near his office area.Please allow your current location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Program requires GPS to track employee self attendance location track near his office area.Please allow your current location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses your Microphone to allow for hear the app sounds.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to capture leave and expense claim photo.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gotham Book.ttf</string>
		<string>Gotham Bold Regular.ttf</string>
		<string>Gotham Light Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
